.wrapper {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    position: relative;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 940px;
    padding: 0;
}

/*--------------HEADER--------------------*/

.headerS1 {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #2d303a;
}

.burger {
    display: none;
}

/*Logo*/

.logoS1 {
    margin-top: 31px;
    margin-bottom: 22px;
}

.logoS1 h1 {
    font-family: 'Lato', sans-serif;
    font-size: 18.1048pt; 
    font-weight: bold;
    color: #ffffff;  
}

.logoS1 span {
    color: #f06c64;
}

/*Nav*/

a.nav_othersS1.active {
    color: #f06c64;
}

a.nav_othersS1:not(.active):hover {
    cursor: pointer;
    color: #f06c64;
}

a.nav_othersS1 {
    text-decoration: none;
    font-size: 9pt;
    font-family: "Lato";
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.menu {
    display: flex;  
    justify-content: space-between;
    margin-top: 40px;
}

.nav_othersS1 {
    display: flex;
    color: #ffffff;
    text-decoration: none;
    justify-content: center;
}

.nav_othersS1:not(:first-child)::before {
    content: "\2219";
    margin: 0 13px 0 10px;
    color: #494e62;
}

/*HEADER BOTTOM*/
.header__bottomS1 {
    height: 6px;
    background-color: #323746;
}

/*--------------Slider---------------*/
.slider {
    background-color: #f06c64;  
}

.slider-carousel {
    position: relative;
    width: 100%;
    max-height: 582px;
    height: 56.3vw;
    margin: 0 auto;
}

.none {
    display: none;
}

.item-container {
    overflow: hidden;
}

.arrows {
    max-width: 1020px;
    width: 100%;
    top: 46%;
    position: relative;
    margin: 0 auto;
}

.arrow-left {
    left: 4.1%;
    margin-top: 1.3%;
}

.arrow-right {
    right: 3.8%;
    margin-top: 1.3%;
}

.arrows img:hover {
    cursor: pointer;
}

.arrows img:active {
    transform: scale(0.9, 0.9);
    transition: ease;
}

.chev {
    position: absolute;
    z-index: 5;
    width: 1.6%;
    cursor: pointer;
}

.slide {
    width: 100%;
}

.slide-1 {
    background-color: #f06c64;
    position: absolute;
    max-height: 594px;
    height: 100%;
}

.item {
    display: none;
    margin: 0 auto;
    animation: 0.5s ease-in-out;
}

.slide-2 {
    background-color: #648BF0;
    position: absolute;
    height: 100%;
    border-bottom: 7.4px solid rgb(83, 121, 216);
}

.iphone {
    max-width: 1020px; 
    height: 100%;
    position: relative;
    margin: auto;
}

.black-screen {
    position: absolute;
    z-index: 2;
    
}

.img-one {
    margin-top: 18.7%;
    left: 5.1%;
    width: 33%;
    transform: rotate(90deg);
}

.img-two {
    margin-top: 18.3%;
    right: 19.5%;
    width: 33.2%;
}

.button-one {
    position: absolute;
    width: 4.1%;
    left: 19.5%;
    margin-top: 45.4%;
    z-index: 2;
}

.button-two {
    position: absolute;
    left: 42.5%;
    margin-top: 25.5%;
    z-index: 2;
    width: 4.1%;
}

.phone-one {
    position: absolute;
    margin-top: 5.2%;
    left: 10.9%;
    width: 23.8%;
}

.V-phone {
    position: absolute;
    z-index: 1;
}

.phone-two {
    margin-top: 17.1%;
    right: 10.8%;
    width: 47.6%;
}

.H-phone {
    position: absolute;
    z-index: 1;
}

.slide-2 img {
    padding-top: 4.4%;
    padding-bottom: 3%;
    display: block;
    height: 100%;
    margin: 0 auto;
}

.slider-button:hover {
    cursor: pointer;
}

.item.active-slider {
    display: block;
}

.active-slider, .next {
    display: block;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

.next {
    position: absolute;
    top: 0;
    width: 100%;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}

.slider__bottomS1 {
    height: 6px;
    background-color: #ea676b;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
/*-------------------------------Services----------------------------*/
.services {
    background-color: #f2f2f2;
}

.previewS1 {
    margin-top: 60px;
    margin-bottom: 50px;
}

.previewS1 h1 {
    font-size: 30px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-bottom: 19px;
}

.previewS1 p {
    font-size: 18px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
}

.servicesF1 {
    max-width: 940px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.services-column {
    display: flex;
    padding: 0;
    margin-bottom: 37px;
}

.services-column img {
    width: 59px;
    height: 59px;
}

.textS1 {
    margin: 0 20px;
}

.textS1 h2{
    font-size: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
}

.textS1 p {
    font-size: 12px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

/*SERVICES BOTTOM*/
.services__bottomS1 {
    height: 6px;
    background-color: #ffffff;
}

/*--------------- Portfolio---------------------*/

.portfolioS2 {
    background-color: #2d303a;
}

.portfolio-content h1 {
    font-size: 30px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin: 0;
    margin-top: 59px;
}

.portfolio-content p {
    font-size: 18px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    margin: 0;
    margin-top: 20px;
}

a.othersS2.active-portfolio {
    color: #dedede;
}

a.othersS2:not(.active-portfolio):hover {
    cursor: pointer;
    color: #dedede;
}

a.othersS2 {
    border-radius: 5px;
    border: 0.5px solid;
    line-height: 20px;
    padding: 0 6px 0 7px;
    font-size: 12px;
    font-family: "Lato";
    font-weight: 400;
    text-decoration: none;
    color: #767e9e;
}

.navS2 {
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
}

.portfolio-menu {
    width: 288px;
    display: flex;
    justify-content: space-between;
}

.portfolio-menu a:active {
    transform: scale(0.95, 0.95);
    transition: ease;
}

.imagesPS2 {
    max-width: 940px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.imagesPS2:nth-child(n+13) {
    display: none;
}

.active-img {
    outline: solid 5px #F06C64;
    outline-offset: -5px;
}

.port-img {
    padding: 10px 20px 10px 0;
}

/*PORTFOLIO BOTTOM*/

.portf_bottomS2 {
    height: 6px;
    background-color: #323746;
}

/*----------------- About Us---------------------*/
.about_usS2 {
    background-color: #f2f2f2;
}

.contentAS2 {
    margin-bottom: 73px;
}

.contentAS2 h1 {
    font-size: 30px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin: 0;
    margin-top: 59px;
}

.contentAS2 p {
    font-size: 18px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    margin: 0;
    margin-top: 20px;
}

.contactsS2 {
    margin-top: 49px;
}

.people h2 {
    font-size: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 23px;
}

.people p {
    font-size: 12px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    margin-top: 10px;
}

.people img {
    width: 100%;
}

.socialS2 {
    margin-top: 28px;
}

.socialS2 img {
    margin-right: 4px;
    width: 32px;
    height: 32px;
}

.socialS2 img:hover {
    cursor: pointer;
}

.socialS2 img:active {
    transform: scale(0.9, 0.9);
    transition: ease;
}

/*---------Quote-----------------*/

.quoteS3 {
    background-color: #f06c64;
}

.quoteS3 h1 {
    font-size: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin: 0;
    margin-top: 59px;
}

.quoteS3 p {
    font-size: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    margin: 0;
    margin-top: 20px;
}

.contentS3 {
    margin-top: 48px;
    margin-bottom: 9px;
}

.formS3 {
    display: flex;
    flex-direction: column;
}

::placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    padding: 4px 0 14px 12px;
}

input {
    border-radius: 5px;
    border-color: #d6564f;
    background-color: #d6564f;
    margin-bottom: 16px;
    border-style: solid;
    height: 11%;
}

.formS3 textarea {
    border-radius: 5px;
    border-color: #d6564f;
    background-color: #d6564f;
}

.formS3 button {
    width: 20%;
    height: 10%;
    border-radius: 5px;
    border-color: #f0d8d9;
    background-color: #d6564f;
    font-size: 15px;
    color: #f0d8d9;
    font-family: "Lato";
    border-style: solid;
    margin-top: 5px;
}

.formS3 button:hover {
    cursor: pointer;
}

.formS3 button:active {
    transform: scale(0.9, 0.9);
    transition: ease;
}

.contactS3 {
    padding: 0 10px;
}

.contactS3 h2 {
    font-size: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.contactS3 p {
    font-size: 12px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 27px;
}

.contactS3 ul {
    padding: 0;
}

.contactS3 ul li {
    list-style-type: none;
}

.contactS3 ul li a {
    font-size: 12px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    text-decoration: none;
}

.contactS3 ul li a:active {
    color: blue;
}

/*--------------Message block------------------*/

#message-block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0008;
    z-index: 200;
}

#message-block.hidden {
    display: none;
}

.message-content {
    position: relative;
    top: 20%;
    margin-left: 20%;
    margin-right: 20%;
}

#message {
   position: absolute;
   padding: 5%;
   border: 1px solid black;
   border-radius: 25px;
   background: #f2f2f2;
   box-shadow: 0 0 5px black;
   max-height: max-content;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   width: 100%;
}

h3 {
    font-size: 36px;
    text-align: center;
    font-family: "Lato";
    font-weight: 900;
    white-space: normal;
}

h4 {
    font-size: 24px;
    text-align: left;
}

.mes-span {
    font-size: 14px;
}

#close-btn {
    margin-bottom: 1%;
    margin-left: 42%;
}

/*QUOTE BOTTOM*/

.bg_bottomS3 {
    height: 6px;
    background-color: #ea676b;
}

/*Footer*/

.footerS3 {
    background-color: #2d303a;
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 12px;
}

.footer-content p {
    font-size: 12px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    margin-top: 10px;
}

.socialS3 img:hover {
    cursor: pointer;
}

.socialS3 img:active {
    transform: scale(0.9, 0.9);
    transition: ease;
}
/*-----------------------992px--------------------------------*/
@media (max-width: 992px) {
    .wrapper {
        width: 100%;
        max-width: 992px;
        margin: 0 auto;
        position: relative;
    }
    
    .container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 912px;
        padding: 0;
    }

    .headerS1 {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: #2d303a;
    }
    .formS3 button:hover {
        transform: scale(1.0, 1.0);
    }
}
/*--------------------------925px--------------------------------*/
@media (max-width: 925px) {
    .wrapper {
        width: 100%;
        max-width: 925px;
        margin: 0 auto;
        position: relative;
    }
    
    .container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 845px;
        padding: 0;
    }

    .headerS1 {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: #2d303a;
    }
}
/*-------------------------------------768px---------------------------*/
@media (max-width: 768px) {
    .wrapper {
        width: 100%;
        max-width: 768px;
        margin: 0 auto;
        position: relative;
    }
    
    .container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 688px;
        padding: 0;
    }

    .headerS1 {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: #2d303a;
    }

    .formS3 button {
        width: 100%;
        height: 10%;
        border-radius: 5px;
        border-color: #f0d8d9;
        background-color: #d6564f;
        font-size: 15px;
        color: #f0d8d9;
        font-family: "Lato";
        border-style: solid;
        margin-top: 5px;
    }
}
/*-----------------------------------------718px----------------------------*/
@media (max-width: 718px) {
    .wrapper {
        width: 100%;
        max-width: 718px;
        margin: 0 auto;
        position: relative;
    }
    
    .container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 638px;
        padding: 0;
    }

    .headerS1 {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: #2d303a;
    }

    .menu {
        display: none;
    }

    .logoS1 {
        display: none;
    }
/*----------- Burger Menu -------------*/
    .burger {
        display: block;
        width: 100%;
        height: 71px;
        background-color: #2d303a;
        position: relative;
    }

    #check-menu {
        display: none;
    }

    label {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        padding-left: 120px;
    }

    label h1 {
        font-family: 'Lato', sans-serif;
        font-size: 18.1048pt; 
        font-weight: bold;
        color: #ffffff;  
        margin-top: 23px;
    }
    
    label span {
        color: #f06c64;
    }

    .burger-line {
        position: absolute;
        top: 25px;
        left: 0;
        width: 25px;
        height: 2.5px;
        background-color: #ffffff;
        margin-left: 30px;
        transition: 0.5s all;
    }

    .second {
        top: 35px;
    }

    .third {
        top: 45px;
    }

    .burger-background {
        display: block;
        position: absolute;
        width: 100%;
        height: 100vh;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        background-color: rgba(0, 0, 0, 0.5);
        max-height: 0;
        overflow: hidden;
        transition: 0.5s all;
    }

    .burger-menu {
        display: block;
        position: absolute;
        width: 328px;
        height: 100vh;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        text-align: -webkit-right;
        background-color: #2d303a;
        max-height: 0;
        overflow: hidden;
        transition: 0.5s all;
    }

    .burger-links {
        width: 205px;
        margin-top: 50%;
    }

    .nav_othersS1 {
        display: block;
        width: 205px;
    }

    .nav_othersS1:not(:first-child)::before {
        display: none;
    }

    a.nav_othersS1 {
        text-decoration: none;
        font-size: 16px;
        font-family: "Lato";
        font-weight: 700;
        text-align: left;
        color: #ffffff;
        margin: 20px 0;
    }

    #check-menu:checked ~ .burger-menu {
        max-height: 100vh;
    }

    #check-menu:checked ~ .burger-background {
        max-height: 100vh;
    }

    #check-menu:checked ~ .first {
        width: 2.5px;
        height: 25px;
    }

    #check-menu:checked ~ .second {
        width: 2.5px;
        height: 25px;
        top: 25px;
        left: 10px;
    }

    #check-menu:checked ~ .third {
        width: 2.5px;
        height: 25px;
        top: 25px;
        left: 20px;
    }
/*--------------------------------------------*/
    .contentAS2 {
        margin-bottom: 40px;
    }

    .contentAS2 p {
        margin-bottom: 20px;
    }

    .people {
        margin-bottom: 20px;
    }

    .footer-content {
        justify-content: center;
    }

    .footer-content p {
        display: none;
    }
}
/*-----------------------------------659px --------------------------------*/
@media (max-width: 659px) {
    .wrapper {
        width: 100%;
        max-width: 659px;
        margin: 0 auto;
        position: relative;
    }
    
    .container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 579px;
        padding: 0;
    }

    .headerS1 {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: #2d303a;
    }

    .menu {
        display: none;
    }

    .logoS1 {
        display: none;
    }
/*----------- Burger Menu -------------*/
    .burger {
        display: block;
        width: 100%;
        height: 71px;
        background-color: #2d303a;
        position: relative;
    }

    #check-menu {
        display: none;
    }

    label {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        padding-left: 120px;
    }

    label h1 {
        font-family: 'Lato', sans-serif;
        font-size: 18.1048pt; 
        font-weight: bold;
        color: #ffffff;  
        margin-top: 23px;
    }
    
    label span {
        color: #f06c64;
    }

    .burger-line {
        position: absolute;
        top: 25px;
        left: 0;
        width: 25px;
        height: 2.5px;
        background-color: #ffffff;
        margin-left: 30px;
        transition: 0.5s all;
    }

    .second {
        top: 35px;
    }

    .third {
        top: 45px;
    }

    .burger-background {
        display: block;
        position: absolute;
        width: 100%;
        height: 100vh;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        background-color: rgba(0, 0, 0, 0.5);
        max-height: 0;
        overflow: hidden;
        transition: 0.5s all;
    }

    .burger-menu {
        display: block;
        position: absolute;
        width: 328px;
        height: 100vh;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        text-align: -webkit-right;
        background-color: #2d303a;
        max-height: 0;
        overflow: hidden;
        transition: 0.5s all;
    }

    .burger-links {
        width: 205px;
        margin-top: 50%;
    }

    .nav_othersS1 {
        display: block;
        width: 205px;
    }

    .nav_othersS1:not(:first-child)::before {
        display: none;
    }

    a.nav_othersS1 {
        text-decoration: none;
        font-size: 16px;
        font-family: "Lato";
        font-weight: 700;
        text-align: left;
        color: #ffffff;
        margin: 20px 0;
    }

    #check-menu:checked ~ .burger-menu {
        max-height: 100vh;
    }

    #check-menu:checked ~ .burger-background {
        max-height: 100vh;
    }

    #check-menu:checked ~ .first {
        width: 2.5px;
        height: 25px;
    }

    #check-menu:checked ~ .second {
        width: 2.5px;
        height: 25px;
        top: 25px;
        left: 10px;
    }

    #check-menu:checked ~ .third {
        width: 2.5px;
        height: 25px;
        top: 25px;
        left: 20px;
    }
/*--------------------------------------------*/
    .contentAS2 {
        margin-bottom: 40px;
    }

    .contentAS2 p {
        margin-bottom: 20px;
    }

    .people {
        margin-bottom: 20px;
    }

    .footer-content {
        justify-content: center;
    }

    .footer-content p {
        display: none;
    }
}
/*--------------------------------505px-------------------------------*/
@media (max-width: 505px) {
    .wrapper {
        width: 100%;
        max-width: 505px;
        margin: 0 auto;
        position: relative;
    }
    
    .container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 425px;
        padding: 0;
    }

    .headerS1 {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: #2d303a;
    }

    .menu {
        display: none;
    }

    .logoS1 {
        display: none;
    }
/*----------- Burger Menu -------------*/
    .burger {
        display: block;
        width: 100%;
        height: 71px;
        background-color: #2d303a;
        position: relative;
    }

    #check-menu {
        display: none;
    }

    label {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        padding-left: 120px;
    }

    label h1 {
        font-family: 'Lato', sans-serif;
        font-size: 18.1048pt; 
        font-weight: bold;
        color: #ffffff;  
        margin-top: 23px;
    }
    
    label span {
        color: #f06c64;
    }

    .burger-line {
        position: absolute;
        top: 25px;
        left: 0;
        width: 25px;
        height: 2.5px;
        background-color: #ffffff;
        margin-left: 30px;
        transition: 0.5s all;
    }

    .second {
        top: 35px;
    }

    .third {
        top: 45px;
    }

    .burger-background {
        display: block;
        position: absolute;
        width: 100%;
        height: 100vh;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        background-color: rgba(0, 0, 0, 0.5);
        max-height: 0;
        overflow: hidden;
        transition: 0.5s all;
    }

    .burger-menu {
        display: block;
        position: absolute;
        width: 328px;
        height: 100vh;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        text-align: -webkit-right;
        background-color: #2d303a;
        max-height: 0;
        overflow: hidden;
        transition: 0.5s all;
    }

    .burger-links {
        width: 205px;
        margin-top: 50%;
    }

    .nav_othersS1 {
        display: block;
        width: 205px;
    }

    .nav_othersS1:not(:first-child)::before {
        display: none;
    }

    a.nav_othersS1 {
        text-decoration: none;
        font-size: 16px;
        font-family: "Lato";
        font-weight: 700;
        text-align: left;
        color: #ffffff;
        margin: 20px 0;
    }

    #check-menu:checked ~ .burger-menu {
        max-height: 100vh;
    }

    #check-menu:checked ~ .burger-background {
        max-height: 100vh;
    }

    #check-menu:checked ~ .first {
        width: 2.5px;
        height: 25px;
    }

    #check-menu:checked ~ .second {
        width: 2.5px;
        height: 25px;
        top: 25px;
        left: 10px;
    }

    #check-menu:checked ~ .third {
        width: 2.5px;
        height: 25px;
        top: 25px;
        left: 20px;
    }
/*--------------------------------------------*/
    .contentAS2 {
        margin-bottom: 40px;
    }

    .contentAS2 p {
        margin-bottom: 20px;
    }

    .people {
        margin-bottom: 20px;
    }

    .footer-content {
        justify-content: center;
    }

    .footer-content p {
        display: none;
    }
}

/*-----------------------------425px--------------------------------*/
@media (max-width: 425px) {
    .wrapper {
        width: 100%;
        max-width: 425px;
        margin: 0 auto;
        position: relative;
    }
    
    .container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 345px;
        padding: 0;
    }

    .headerS1 {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: #2d303a;
    }

    .menu {
        display: none;
    }

    .logoS1 {
        display: none;
    }
/*----------- Burger Menu -------------*/
    .burger {
        display: block;
        width: 100%;
        height: 71px;
        background-color: #2d303a;
        position: relative;
    }

    #check-menu {
        display: none;
    }

    label {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        padding-left: 120px;
    }

    label h1 {
        font-family: 'Lato', sans-serif;
        font-size: 18.1048pt; 
        font-weight: bold;
        color: #ffffff;  
        margin-top: 23px;
    }
    
    label span {
        color: #f06c64;
    }

    .burger-line {
        position: absolute;
        top: 25px;
        left: 0;
        width: 25px;
        height: 2.5px;
        background-color: #ffffff;
        margin-left: 30px;
        transition: 0.5s all;
    }

    .second {
        top: 35px;
    }

    .third {
        top: 45px;
    }

    .burger-background {
        display: block;
        position: absolute;
        width: 100%;
        height: 100vh;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        background-color: rgba(0, 0, 0, 0.5);
        max-height: 0;
        overflow: hidden;
        transition: 0.5s all;
    }

    .burger-menu {
        display: block;
        position: absolute;
        width: 328px;
        height: 100vh;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        text-align: -webkit-right;
        background-color: #2d303a;
        max-height: 0;
        overflow: hidden;
        transition: 0.5s all;
    }

    .burger-links {
        width: 205px;
        margin-top: 50%;
    }

    .nav_othersS1 {
        display: block;
        width: 205px;
    }

    .nav_othersS1:not(:first-child)::before {
        display: none;
    }

    a.nav_othersS1 {
        text-decoration: none;
        font-size: 16px;
        font-family: "Lato";
        font-weight: 700;
        text-align: left;
        color: #ffffff;
        margin: 20px 0;
    }

    #check-menu:checked ~ .burger-menu {
        max-height: 100vh;
    }

    #check-menu:checked ~ .burger-background {
        max-height: 100vh;
    }

    #check-menu:checked ~ .first {
        width: 2.5px;
        height: 25px;
    }

    #check-menu:checked ~ .second {
        width: 2.5px;
        height: 25px;
        top: 25px;
        left: 10px;
    }

    #check-menu:checked ~ .third {
        width: 2.5px;
        height: 25px;
        top: 25px;
        left: 20px;
    }
/*--------------------------------------------*/
    .contentAS2 {
        margin-bottom: 40px;
    }

    .contentAS2 p {
        margin-bottom: 20px;
    }

    .people {
        margin-bottom: 20px;
    }

    .footer-content {
        justify-content: center;
    }

    .footer-content p {
        display: none;
    }
}
/*---------------------------------375px-------------------------------*/
@media (max-width: 375px) {
    .wrapper {
        width: 100%;
        max-width: 375px;
        margin: 0 auto;
        position: relative;
    }
    
    .container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 295px;
        padding: 0;
    }

    .headerS1 {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: #2d303a;
    }

    .menu {
        display: none;
    }

    .logoS1 {
        display: none;
    }
/*----------- Burger Menu -------------*/
    .burger {
        display: block;
        width: 100%;
        height: 71px;
        background-color: #2d303a;
        position: relative;
    }

    #check-menu {
        display: none;
    }

    label {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        padding-left: 120px;
    }

    label h1 {
        font-family: 'Lato', sans-serif;
        font-size: 18.1048pt; 
        font-weight: bold;
        color: #ffffff;  
        margin-top: 23px;
    }
    
    label span {
        color: #f06c64;
    }

    .burger-line {
        position: absolute;
        top: 25px;
        left: 0;
        width: 25px;
        height: 2.5px;
        background-color: #ffffff;
        margin-left: 30px;
        transition: 0.5s all;
    }

    .second {
        top: 35px;
    }

    .third {
        top: 45px;
    }

    .burger-background {
        display: block;
        position: absolute;
        width: 100%;
        height: 100vh;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        background-color: rgba(0, 0, 0, 0.5);
        max-height: 0;
        overflow: hidden;
        transition: 0.5s all;
    }

    .burger-menu {
        display: block;
        position: absolute;
        width: 278px;
        height: 100vh;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        text-align: -webkit-right;
        background-color: #2d303a;
        max-height: 0;
        overflow: hidden;
        transition: 0.5s all;
    }

    .burger-links {
        width: 205px;
        margin-top: 50%;
    }

    .nav_othersS1 {
        display: block;
        width: 205px;
    }

    .nav_othersS1:not(:first-child)::before {
        display: none;
    }

    a.nav_othersS1 {
        text-decoration: none;
        font-size: 16px;
        font-family: "Lato";
        font-weight: 700;
        text-align: left;
        color: #ffffff;
        margin: 20px 0;
    }

    #check-menu:checked ~ .burger-menu {
        max-height: 100vh;
    }

    #check-menu:checked ~ .burger-background {
        max-height: 100vh;
    }

    #check-menu:checked ~ .first {
        width: 2.5px;
        height: 25px;
    }

    #check-menu:checked ~ .second {
        width: 2.5px;
        height: 25px;
        top: 25px;
        left: 10px;
    }

    #check-menu:checked ~ .third {
        width: 2.5px;
        height: 25px;
        top: 25px;
        left: 20px;
    }
/*--------------------------------------------*/
    .contentAS2 {
        margin-bottom: 40px;
    }

    .contentAS2 p {
        margin-bottom: 20px;
    }

    .people {
        margin-bottom: 20px;
    }

    .footer-content {
        justify-content: center;
    }

    .footer-content p {
        display: none;
    }
}