.wrapper {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    position: relative;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 940px;
    padding: 0;
}

/*--------------HEADER--------------------*/

.headerS1 {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #2d303a;
}

.burger {
    display: none;
}

/*Logo*/

.logoS1 {
    margin-top: 31px;
    margin-bottom: 22px;
}

.logoS1 h1 {
    font-family: 'Lato', sans-serif;
    font-size: 18.1048pt; 
    font-weight: bold;
    color: #ffffff;  
}

.logoS1 span {
    color: #f06c64;
}

/*Nav*/

a.nav_othersS1.active {
    color: #f06c64;
}

a.nav_othersS1:not(.active):hover {
    cursor: pointer;
    color: #f06c64;
}

a.nav_othersS1 {
    text-decoration: none;
    font-size: 9pt;
    font-family: "Lato";
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.menu {
    display: flex;  
    justify-content: space-between;
    margin-top: 40px;
}

.nav_othersS1 {
    display: flex;
    color: #ffffff;
    text-decoration: none;
    justify-content: center;
}

.nav_othersS1:not(:first-child)::before {
    content: "\2219";
    margin: 0 13px 0 10px;
    color: #494e62;
}

/*HEADER BOTTOM*/
.header__bottomS1 {
    height: 6px;
    background-color: #323746;
}

/*--------------Slider---------------*/
.sliderS1 {
    background-color: #f06c64;  
}

/*SLIDER BOTTOM*/
.slider__bottomS1 {
    height: 6px;
    background-color: #ea676b;
}

.services {
    background-color: #f2f2f2;
}

.previewS1 {
    margin-top: 60px;
    margin-bottom: 50px;
}

.previewS1 h1 {
    font-size: 30px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-bottom: 19px;
}

.previewS1 p {
    font-size: 18px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
}

.servicesF1 {
    max-width: 940px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.services-column {
    display: flex;
    padding: 0;
    margin-bottom: 37px;
}

.services-column img {
    width: 59px;
    height: 59px;
}

.textS1 {
    margin: 0 20px;
}

.textS1 h2{
    font-size: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
}

.textS1 p {
    font-size: 12px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

/*SERVICES BOTTOM*/
.services__bottomS1 {
    height: 6px;
    background-color: #ffffff;
}

/*--------------- Portfolio---------------------*/

.portfolioS2 {
    background-color: #2d303a;
}

.portfolio-content h1 {
    font-size: 30px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin: 0;
    margin-top: 59px;
}

.portfolio-content p {
    font-size: 18px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    margin: 0;
    margin-top: 20px;
}

a.othersS2.active-portfolio {
    color: #dedede;
}

a.othersS2:not(.active-portfolio):hover {
    cursor: pointer;
    color: #dedede;
}

a.othersS2 {
    border-radius: 5px;
    border: 0.5px solid;
    line-height: 20px;
    padding: 0 6px 0 7px;
    font-size: 12px;
    font-family: "Lato";
    font-weight: 400;
    text-decoration: none;
    color: #767e9e;
}

.navS2 {
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
}

.portfolio-menu {
    width: 288px;
    display: flex;
    justify-content: space-between;
}

.portfolio-menu a:active {
    transform: scale(0.95, 0.95);
    transition: ease;
}

.imagesPS2 {
    max-width: 940px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.imagesPS2:nth-child(n+13) {
    display: none;
}

.active-img {
    outline: solid 5px #F06C64;
    outline-offset: -5px;
}

.port-img {
    padding: 10px 20px 10px 0;
}

/*PORTFOLIO BOTTOM*/

.portf_bottomS2 {
    height: 6px;
    background-color: #323746;
}

/*----------------- About Us---------------------*/
.about_usS2 {
    background-color: #f2f2f2;
}

.contentAS2 {
    margin-bottom: 73px;
}

.contentAS2 h1 {
    font-size: 30px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin: 0;
    margin-top: 59px;
}

.contentAS2 p {
    font-size: 18px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    margin: 0;
    margin-top: 20px;
}

.contactsS2 {
    margin-top: 49px;
}

.people h2 {
    font-size: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 23px;
}

.people p {
    font-size: 12px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    margin-top: 10px;
}

.people img {
    width: 100%;
}

.socialS2 {
    margin-top: 28px;
}

.socialS2 img {
    margin-right: 4px;
    width: 32px;
    height: 32px;
}

.socialS2 img:hover {
    transform: scale(1.1, 1.1);
}

.socialS2 img:active {
    transform: scale(0.9, 0.9);
    transition: ease;
}

/*---------Quote-----------------*/

.quoteS3 {
    background-color: #f06c64;
}

.quoteS3 h1 {
    font-size: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin: 0;
    margin-top: 59px;
}

.quoteS3 p {
    font-size: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    margin: 0;
    margin-top: 20px;
}

.contentS3 {
    margin-top: 48px;
    margin-bottom: 9px;
}

.formS3 {
    display: flex;
    flex-direction: column;
}

::placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    padding: 4px 0 14px 12px;
}

input {
    border-radius: 5px;
    border-color: #d6564f;
    background-color: #d6564f;
    margin-bottom: 16px;
    border-style: solid;
    height: 11%;
}

.formS3 textarea {
    border-radius: 5px;
    border-color: #d6564f;
    background-color: #d6564f;
}

.formS3 button {
    width: 20%;
    height: 10%;
    border-radius: 5px;
    border-color: #f0d8d9;
    background-color: #d6564f;
    font-size: 15px;
    color: #f0d8d9;
    font-family: "Lato";
    border-style: solid;
    margin-top: 5px;
}

.formS3 button:hover {
    transform: scale(1.1, 1.1);
}

.formS3 button:active {
    transform: scale(0.9, 0.9);
    transition: ease;
}

.contactS3 {
    padding: 0 10px;
}

.contactS3 h2 {
    font-size: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.contactS3 p {
    font-size: 12px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 27px;
}

.contactS3 ul {
    padding: 0;
}

.contactS3 ul li {
    list-style-type: none;
}

.contactS3 ul li a {
    font-size: 12px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    text-decoration: none;
}

.contactS3 ul li a:active {
    color: blue;
}

/*--------------Message block------------------*/

#message-block {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0008;
    z-index: 200;
}

#message-block.hidden {
    display: none;
}

#message {
   position: absolute;
   top: 25%;
   left: 25%;
   right: 25%;
   bottom: 25%;
   padding: 10px;
   text-align: center;
   border: 1px solid black;
   border-radius: 25px;
   background: #f2f2f2;
   box-shadow: 0 0 5px black;
   max-height: max-content;
}

h3 {
    font-size: 36px;
    text-align: center;
    font-family: "Lato";
    font-weight: 900;
}

h4 {
    font-size: 24px;
    text-align: left;
}

.mes-span {
    font-size: 14px;
    width: 445px;
    overflow: hidden;
}

#close-btn {
    height: 30px;
    width: 50px;
    margin-bottom: 10px;
}

/*QUOTE BOTTOM*/

.bg_bottomS3 {
    height: 6px;
    background-color: #ea676b;
}

/*Footer*/

.footerS3 {
    background-color: #2d303a;
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 12px;
}

.footer-content p {
    font-size: 12px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    margin-top: 10px;
}

.socialS3 img:hover {
    transform: scale(1.2, 1.2);
    transition: ease;
}

.socialS3 img:active {
    transform: scale(1, 1);
    transition: ease;
}

@media (max-width: 992px) {
    .wrapper {
        width: 100%;
        max-width: 992px;
        margin: 0 auto;
        position: relative;
    }
    
    .container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 912px;
        padding: 0;
    }

    .headerS1 {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: #2d303a;
    }
}

@media (max-width: 768px) {
    .wrapper {
        width: 100%;
        max-width: 768px;
        margin: 0 auto;
        position: relative;
    }
    
    .container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 688px;
        padding: 0;
    }

    .headerS1 {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: #2d303a;
    }
}

@media (max-width: 576px) {
    .wrapper {
        width: 100%;
        max-width: 576px;
        margin: 0 auto;
        position: relative;
    }
    
    .container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 496px;
        padding: 0;
    }

    .headerS1 {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: #2d303a;
    }

    .contentAS2 {
        margin-bottom: 40px;
    }

    .contentAS2 p {
        margin-bottom: 20px;
    }

    .people {
        margin-bottom: 20px;
    }
}

@media (max-width: 425px) {
    .wrapper {
        width: 100%;
        max-width: 375px;
        margin: 0 auto;
        position: relative;
    }
    
    .container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 295px;
        padding: 0;
    }

    .headerS1 {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: #2d303a;
    }

    .menu {
        display: none;
    }

    .logoS1 {
        display: none;
    }
/*----------- Burger Menu -------------*/
    .burger {
        display: block;
        width: 278px;
        height: 71px;
        background-color: #2d303a;
        position: relative;
    }

    #check-menu {
        display: none;
    }

    label {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        padding-left: 120px;
    }

    label h1 {
        font-family: 'Lato', sans-serif;
        font-size: 18.1048pt; 
        font-weight: bold;
        color: #ffffff;  
        margin-top: 23px;
    }
    
    label span {
        color: #f06c64;
    }

    .burger-line {
        position: absolute;
        top: 25px;
        left: 0;
        width: 25px;
        height: 2.5px;
        background-color: #ffffff;
        margin-left: 30px;
        transition: 0.5s all;
    }

    .second {
        top: 35px;
    }

    .third {
        top: 45px;
    }

    .burger-menu {
        display: block;
        position: absolute;
        width: 100%;
        height: 100vh;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        text-align: -webkit-right;
        background-color: #2d303a;
        max-height: 0;
        overflow: hidden;
        transition: 0.5s all;
    }

    .burger-links {
        width: 205px;
        margin-top: 50%;
    }

    .nav_othersS1 {
        display: block;
        width: 205px;
    }

    .nav_othersS1:not(:first-child)::before {
        display: none;
    }

    a.nav_othersS1 {
        text-decoration: none;
        font-size: 16px;
        font-family: "Lato";
        font-weight: 700;
        text-align: left;
        color: #ffffff;
        margin: 20px 0;
    }

    #check-menu:checked ~ .burger-menu {
        max-height: 100vh;
        box-shadow: 25.5vw 6px 0px rgba(0, 0, 0, 0.5);
    }

    #check-menu:checked ~ .first {
        width: 2.5px;
        height: 25px;
    }

    #check-menu:checked ~ .second {
        width: 2.5px;
        height: 25px;
        top: 25px;
        left: 10px;
    }

    #check-menu:checked ~ .third {
        width: 2.5px;
        height: 25px;
        top: 25px;
        left: 20px;
    }
/*--------------------------------------------*/
    .contentAS2 {
        margin-bottom: 40px;
    }

    .contentAS2 p {
        margin-bottom: 20px;
    }

    .people {
        margin-bottom: 20px;
    }

    .footer-content {
        justify-content: center;
    }

    .footer-content p {
        display: none;
    }
}

@media (max-width: 375px) {
    .wrapper {
        width: 100%;
        max-width: 375px;
        margin: 0 auto;
        position: relative;
    }
    
    .container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 295px;
        padding: 0;
    }

    .headerS1 {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: #2d303a;
    }

    .menu {
        display: none;
    }

    .logoS1 {
        display: none;
    }
/*----------- Burger Menu -------------*/
    .burger {
        display: block;
        width: 278px;
        height: 71px;
        background-color: #2d303a;
        position: relative;
    }

    #check-menu {
        display: none;
    }

    label {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        padding-left: 120px;
    }

    label h1 {
        font-family: 'Lato', sans-serif;
        font-size: 18.1048pt; 
        font-weight: bold;
        color: #ffffff;  
        margin-top: 23px;
    }
    
    label span {
        color: #f06c64;
    }

    .burger-line {
        position: absolute;
        top: 25px;
        left: 0;
        width: 25px;
        height: 2.5px;
        background-color: #ffffff;
        margin-left: 30px;
        transition: 0.5s all;
    }

    .second {
        top: 35px;
    }

    .third {
        top: 45px;
    }

    .burger-menu {
        display: block;
        position: absolute;
        width: 100%;
        height: 100vh;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        text-align: -webkit-right;
        background-color: #2d303a;
        max-height: 0;
        overflow: hidden;
        transition: 0.5s all;
    }

    .burger-links {
        width: 205px;
        margin-top: 50%;
    }

    .nav_othersS1 {
        display: block;
        width: 205px;
    }

    .nav_othersS1:not(:first-child)::before {
        display: none;
    }

    a.nav_othersS1 {
        text-decoration: none;
        font-size: 16px;
        font-family: "Lato";
        font-weight: 700;
        text-align: left;
        color: #ffffff;
        margin: 20px 0;
    }

    #check-menu:checked ~ .burger-menu {
        max-height: 100vh;
        box-shadow: 25.5vw 6px 0px rgba(0, 0, 0, 0.5);
    }

    #check-menu:checked ~ .first {
        width: 2.5px;
        height: 25px;
    }

    #check-menu:checked ~ .second {
        width: 2.5px;
        height: 25px;
        top: 25px;
        left: 10px;
    }

    #check-menu:checked ~ .third {
        width: 2.5px;
        height: 25px;
        top: 25px;
        left: 20px;
    }
/*--------------------------------------------*/
    .contentAS2 {
        margin-bottom: 40px;
    }

    .contentAS2 p {
        margin-bottom: 20px;
    }

    .people {
        margin-bottom: 20px;
    }

    .footer-content {
        justify-content: center;
    }

    .footer-content p {
        display: none;
    }
}